/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff !important; /* Sabit beyaz arka plan */
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Media query'yi kaldırıyoruz çünkü artık sistem temasını kullanmayacağız */